.forms input {
    width: 100%;
    padding: 6px 3px;
    border: 0px;
    border-bottom: 2px solid #333;
    font-size: 12px;
}



.forms {
    padding: 10px;
    padding: 0110xpx;
    margin-bottom: 1.5em;
}

.save_btn {
    cursor: pointer;
    margin-top: 1em;
    padding: 10px 15px;
    background: #ddd;
    color: #222;
    border-radius: 3px;
    border: 0px;
    font-size: 15px;
}